body{
    margin: 0;
    padding: 0;
    background-color: hsl(180, 52%, 96%);
    --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
    --Light-Grayish-Cyan: hsl(180, 52%, 96%);/*  (Background) */
    --Light-Grayish-Cyan : hsl(180, 31%, 95%); /*(Filter Tablets)*/
    --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
    --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
    --dark-green: hsl(180, 19%, 55%);
    font-family: 'League Spartan', sans-serif;  
    width:100vw;
}

.container{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.header{
    background-color: var(--dark-green);
    height: 150px;
    background-size: cover;
    position: relative;
    /* width: 100vw; */
}

.selectors{
    position: absolute;
    width: 80vw;
    margin-top: -6.5em;
    background-color: white;
    padding: 0 .25rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px hsla(185, 26%, 91%, 0.66);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.selector__block{
    margin: 0.5rem .25rem;
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    overflow: hidden;
}

.selector__block--text{
    padding: .5rem;
    color: var(--dark-green);
    background-color:var(--Light-Grayish-Cyan);
}

.close_x{
    padding: .5rem;
    color: var(--Light-Grayish-Cyan);
    background-color: var(--dark-green);
}

.jobs{
    margin-top: 5em;
}

.job{
    background-color: white;
    margin-top: 3em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 5px 5px 5px hsl(189, 28%, 91%);
    display: flex;
    flex-direction: column;
}

.job.featured{
    border-left: 5px solid var(--dark-green);
}

.job--company_details{
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.job--company{
    font-weight: bold;
    margin-right: 2rem;
    color: var(--dark-green);
    margin-top: 0;
    margin-bottom: 0;
    padding: .3rem 0;
}

.job--position{
    font-weight: bold;
}

.job--about{
    color: lightgray;
}

.job--company__new,
.job--company__featured{
    display: inline-block;
    background-color: var(--dark-green);
    color: var(--Light-Grayish-Cyan);
    padding: .3rem .75rem;
    border-radius: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.job--company__featured{
    margin-left: 1em;
    background-color: var(--Very-Dark-Grayish-Cyan);
    color: var(--Light-Grayish-Cyan);
}

.job--logo{
    margin-top: -3rem;
    width: 60px;
}

.job--attributes{
    display: flex;
    flex-wrap: wrap;
}

.job--attributes p{
    margin:.5rem 1rem .5rem 0;
    padding: .5rem;
    background-color: var(--Light-Grayish-Cyan);
    color:var(--dark-green);
    border-radius: 3px;
    
}

@media screen and (max-width: 399px){
    .header{
        background-image: url("./images/bg-header-mobile.svg");
    }
    .job--details{
        border-bottom: 1px solid lightgray;
        margin-bottom: .5rem;
    }
}

@media screen and (min-width: 400px) {
    .header{
        background-image: url("./images/bg-header-desktop.svg");

    }

    .job{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .job--details{
        display: flex;
        flex-direction: row;
    }

    .job--logo{
        margin-top: .5rem;
        margin-right: 1rem;
        width: auto;
        height: auto;
    }

    .job--attributes{
        display: flex;
        flex-direction: row;
        height: 3rem;
    }
}